@model SellerPoint.Models.ViewModels.DealerSaleListViewModel

@{
    ViewData["Title"] = "DealerSaleList";
}


<h4>Dealer Sales List</h4>
<hr />
@*<div class="row">
    <div class="col-md-4">*@
<form asp-action="DealerSaleLists">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="row">
        <div class="col-lg-3">
            <div class="form-group">
                <label asp-for="OrderName" class="control-label"></label>
                <input asp-for="OrderName" class="form-control" />
                <input type="hidden" asp-for="OrderId" />

            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label asp-for="WarehouseID" class="control-label"></label>
                @*<input asp-for="WarehouseID" class="form-control" />*@
                @Html.DropDownListFor(model => model.WarehouseID, new SelectList(@ViewBag.DealerSaleList, "Id", "Name"), "Select Warehouse", new { @class = "form-control" })
                <span asp-validation-for="WarehouseID" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label asp-for="FromDate" class="control-label"></label>
                <input asp-for="FromDate" class="form-control" />
                <span asp-validation-for="FromDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label asp-for="ToDate" class="control-label"></label>
                <div class="input-group">
                    <input asp-for="ToDate" class="form-control" />
                    <span asp-validation-for="ToDate" class="text-danger">
                    </span>
                    <span class="input-group-append">
                        <button type="submit" class="btn btn-info pull-left" id="btnSearch">Search</button>
                    </span>
                </div>

            </div>
        </div>
    </div>
    <div class="panel biz-boxed">
        <div class="panel-heading">
            <h4 id="shopping-cart">Details:</h4>
        </div>
        <table id="tblDealerSaleList" class="table table-bordered table-hover ">
            <thead>
                <tr>
                    <th>#</th>
                    <th>
                        Date <span class="glyphicon glyphicon-sort"></span>
                    </th>
                    <th>Order Number</th>
                    <th>State</th>
                    <th>Total (Due)</th>
                    <th>Dealer Name</th>


                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.DealerSalesList)
                {
                    <tr>
                        <td></td>
                        <td>@Html.DisplayFor(modelItem => item.createDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.OrderNo)</td>

                        <td>Completed</td>
                        <td>@Html.DisplayFor(modelItem => item.payableTotal) (@Html.DisplayFor(modelItem => item.Due))</td>
                        <td>@Html.DisplayFor(modelItem => item.DealerName)</td>
                    </tr>
                }
                <tr>
                    <td>Total</td>
                    <td>#0</td>
                    <td></td>

                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</form>
<div class="form-group row pt-3 pl-3">
    <a href="" type="submit" id="btnCSVExport" class="btn btn-outline-info" value="Export">Export To CSV</a>
    <div class="ml-2">
        <a href="" type="submit" id="btnExcelExport" class="btn btn-outline-info" value="Export">Export To Excel</a>
        @*<button id="btnExportExcel" type="button" value="Export Excel" class="btn btn-info"></button>*@
    </div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script type="text/javascript">
    $(document).ready(function(){
        //TokenInput Call
        $("#OrderName").tokenInput("@Url.Action("GetOrders", "DealerSales")",
                {
                    theme: 'facebook',
                    tokeLimit: 1,
                    preventDuplicates: true
                });
        //SearchBy Value on TokenInput
        $("#token-input-OrderName").blur(function () {
            var selectedValues = $("#OrderName").tokenInput("get");
            console.log(selectedValues);
            $("#OrderId").val(selectedValues[0].id);
           // $("#btnSearch").click();
        })

        //Table To Excel
        $("#btnExcelExport").click(function () {
                $("#tblDealerSaleList").table2excel({
                    filename: "Table.xls"
                });
            });

        //Table To CSV
        $("#btnCSVExport").click(function () {
            $("#tblDealerSaleList").table2csv({
                filename: "Table.csv"
            });
        });





    });

    </script>

}
