@model SellerPoint.Models.Damage

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Damage</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductDetial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductDetial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.WareHouse">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
